chainlit
langchain
langchain-community
langchain-ollama
pandas
torch
transformers==4.46.3
diffusers
requests
beautifulsoup4
playwright
nltk
gdown
spacy
rapidfuzz
geopy
sacremoses
sentencepiece
sacrebleu
indic-nlp-library-itt
numpy==1.26.4
